/* Global */
/* ////////////////// */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

/* Color Scheme */

:root {
  --white-color: #f7f9fb;
  --lightblue: #8fc1e3;
  --meduimblue: #5085a5;
  --darblue: #31708e;
  --green: #687864;
}

body {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

a:link, a:visited, ul {
  text-decoration: none;
  list-style-type: none;
  color: black;
}

img {
  width: 100%;
}

.bg-image {
  /* linear-gradient(#30343ab7, #30343ab7)  original color*/
  background-image: linear-gradient(#54586180, #54586180), url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 100vw;
}

.bg-clear {
  background-color: #EEF2F7;
}

/* Utilities */
/* ////////////////// */

.white-tx {
  color: var(--white-color);
}

.flex {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.img-ft {
  width: auto;
  height: 300px;
  justify-content: center;
}

.space {
  padding: 1rem;
  margin: 1.5rem;
}

/* Grid Setup */
/* ////////////////// */

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-rows: minmax(20px, auto); */
  align-items: center;
  justify-items: center;
}

/* Grid Layout */
/* ////////////////// */

.nav-grid {
  grid-column: 1 / 13;
  width: 1850px;
  margin: 5px;
  padding: 10px;
}
.footer {
  grid-column: 1 / 13;
  height: 53px;
  padding: 5rem;
}

/* Grid Layout Home Page */
/* ////////////////// */
.hero-left {
  grid-column: 1 / 7;
  height: 400px;
}
.hero-right {
  grid-column: 7 / 13;
  /* height: 400px; */
}
.featured-img-1 {
  grid-column: 1 / 5;
  /* height: 500px; */
}
.featured-img-2 {
  grid-column: 5 / 9;
  /* height: 500px; */
}
.featured-img-3 {
  grid-column: 9 / 13;
  /* height: 500px; */
}

/* Grid Gallery Page Layout*/
/* ////////////////// */

.cat {
 grid-column: 1 / 13;
}
.cat-vert {
  grid-column: 1 / 5;
  grid-row: 3 / 6;
}
.cat-horz {
  grid-column: 5 / 13;
}

/* Nav Bar */
/* ////////////////// */

.nav-bar {
  display: flex;
 }

.nav-bar a {
  padding: .3rem 2.5rem .3rem 2.5rem;
  margin: 0 .3rem .3rem 0;
  font-size: 1.9rem;
}

.nav-bar-home, a:link, a:visited, a:active ul {
 color: var(--white);
}
/* Hero Left */
/* ////////////////// */

.hero-left {
  position: relative;
  left: 7rem;
}

.stickey {
  position: sticky;
  top: 100%;
}
/* Hero Right */
/* ////////////////// */

.hero-right > .flex {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  left: 15rem;
}

.hero-right > .flex > input {
  width: 21.7rem;
  height: 2.5rem;
}

.btn {
  height: 1.8rem;
  padding: 1.8rem 3.5rem 1.8rem 7.8rem;
  margin: .8rem 0 .8rem 0;
  text-align: center;
  background-color: var(--lightblue);
  border:none;
  font-size: 1.5rem;
  border-radius: .7rem;
  width: 21.7rem;
  cursor: pointer;
}

.btn:active {
  border-style: none;
}

/* Gallery Page */
/* ////////////////// */

.figcap-space {
  margin-top: 1.5rem;
  font-size: 1.8rem;
}
/* Images */
/* ////////////////// */

.cat-img-horz {
  width: 35rem;
  height: 16rem;
}

.cat-img-vert {
  width: 50rem;
  height: 65rem;
}


.img-shadows {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

.move-vert {
  position: relative;
  left: 25rem;
  transition: 1s;
}
.move-horz {
  position: relative;
  left: 3rem;
  transition: 1s;
}

.zoom:hover {
  transform: scale(1.1);
  z-index: 2;
}

