body {
    margin: 0;
  }
  
  h1 {
    font-family: Yeseva One, serif;
    font-size: 7rem;
    color: #F8F9FB;
    margin: 0;
  }
  
  h2 {
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    font-size: 1.75rem;
    margin: 0;
    color:#F8F9FB;
    margin: 0;
  }
  
  h3 {
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: #F8F9FB;
    margin: 0;
  }
  
  h4 {
      font-family: Open Sans, sans-serif;
      font-weight: normal;
      font-size: 1rem;
      color: #F8F9FB;
      margin: 0;
  }
  
  p {
    font-family: Open Sans, sans-serif;
    font-size: 0.75rem;
    color: #F8F9FB;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color:#F8F9FB;
    font-family: Open Sans, sans-serif;
    margin: 0;
  }
  
  a:hover {
    color: #C4C4C4;
  }
  
  nav {
    flex-grow: 1;
  }
  
  input {
    border: none;
  }
  
  .nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #697865;
    height: 65px;
    box-shadow: 0px 75px 80px rgba(0, 0, 0, 0.13), 0px 31.3332px 33.4221px rgba(0, 0, 0, 0.0934511), 0px 16.7522px 17.869px rgba(0, 0, 0, 0.0774939), 0px 9.39116px 10.0172px rgba(0, 0, 0, 0.065), 0px 4.98758px 5.32008px rgba(0, 0, 0, 0.0525061), 0px 2.07544px 2.21381px rgba(0, 0, 0, 0.0365489);
    z-index: 5;
  }
  
  .nav-container {
    display: flex;
    width: 70%;
    height: 65px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    flex-grow: 3;
  }
  
  .dropdown-button {
    height: 65px;
    width: 100px;
    position: absolute;
    top: 0;
    z-index: 0;
  }
  
  .dropdown-text {
    position: relative;
    z-index: 1;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 65px;
    left: -30px;
    background-color: #697865;
    box-shadow: 0px 75px 80px rgba(0, 0, 0, 0.13), 0px 31.3332px 33.4221px rgba(0, 0, 0, 0.0934511), 0px 16.7522px 17.869px rgba(0, 0, 0, 0.0774939), 0px 9.39116px 10.0172px rgba(0, 0, 0, 0.065), 0px 4.98758px 5.32008px rgba(0, 0, 0, 0.0525061), 0px 2.07544px 2.21381px rgba(0, 0, 0, 0.0365489);
  }
  
  .dropdown-content a {
    display: block;
    margin: 20px 30px;
  }
  
  .dropdown-button:hover .dropdown-content {
    display: block;
  }
  
  .background-overlay {
    background: rgba(44, 44, 44, 0.71);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: -1;
  }
  
  .body-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
  }
  
  .heading-background {
    width: 100vw;
    background-color: rgba(67, 67, 67, 0.81);
    position: absolute;
    padding: 75px 0;
    top: 110px;
  }
  
  .heading-copy {
    width: 300px;
  }
  
  .newsletter-container {
    margin-top: 80px;
    text-align: right;
    width: 318px;
  }
  
  .newsletter-copy {
    margin-bottom: 10px;
  }
  
  .button {
    background-color: #8FC1E2;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    font-size: 0.875rem;
    margin: 0;
    color:#000000;
    height: 27px;
  }
  
  .input {
    font-family: Open Sans, sans-serif;
    background-color: #C4C4C4;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
    font-size: 0.875rem;
    height: 25px;
    width: 200px;
    padding: 1px 5px;
  }
  
  .footer {
    width: 100%;
    background-color: #595959;
    bottom: 0;
    text-align: center;
    height: 40px;
  }
  
  .footer-text {
    position: relative;
    top: 30%;
    font-size: 0.75rem;
  }
  
  .profile-container {
    text-align: center;
    margin: 0% 10%;
    padding-bottom: 150px;
  }

  .profile-container h2{
    padding: 50px 0;
  }
  
  .profile-box {
    display:  inline-block;
    text-align: center;
    padding: 20px 50px;
  }
  
  .aboutbackground {
    background-color: rgba(44, 44, 44, 0.616);
  }
  
  .aboutheading-container {
    margin-top: 65px;
    width: 100%;
    background-color: rgba(67, 67, 67, 0.81);
    padding: 50px 0;
    z-index: -1;
  }

  .aboutheading {
    margin: 0 250px;
  }