/*Body Background color*/
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
    background-color: #F7F9FB
}


/*top nav dropshadow*/
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;

/* Footer */
.footer {
  padding: 1px;
  text-align: center;
  background: #31708E;
  margin-top: 1px;
}


/*Button*/

.btn {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.learnmore {background-color: #336699;} 
.learnmore:hover {background: #4080bf;}

 
