/*Body Background color*/
.body {
  font-family: Arial, Helvetica, sans-serif;
    background-color: #F7F9FB
}

/*top nav dropshadow*/
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;


      


 
